<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Bajet</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/food">Food</a></li>
        <li><a routerLink="/vehicle">Vehicle</a></li>
        <li><a routerLink="/clothing">Clothing</a></li>
        <li><a routerLink="/other">Other</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">    
        <li><button type="button" class="btn btn-primary navbar-btn" routerLink="/form">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Spending</button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>